/* --------------------------
--------BASIC SETUP----------
----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto Slab', serif;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}
/* --------------------------
-------------HEADER----------
----------------------------- */
header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/sushi-platter-2.jpg);
  background-size: cover;
  background-position: center; */
  background: #00cec9;
  height: 70vh;
}

h1 {
  color: #fff;
  font-size: 220%;
  font-weight: 300;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
}

#nav-bar a {
  font-size: 120%;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 1px;
  margin-right: 30px;
  margin-top: 15px;
  color: #fff;
}

#nav-bar a i {
  margin-right: 10px;
}

#nav-bar a {
  transition: all 0.3s ease-in-out;
}

#nav-bar a:hover {
  color: #6c5ce7;
  border-bottom: 1px solid #6c5ce7;
}

.logo-text {
  float: left;
  margin-top: 20px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
}
/*
#header ul {
  float: right;
}

#header ul li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 50px;
} */

.hero-text {
  position: relative;
  margin-top: 15%;
}

#email {
  border-radius: 5px;
  height: 45px;
  width: 500px;
  outline: none;
  border: 2px solid #aaa;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  padding: 5px;
  float: left;
}

/* .hero-text i {
  position: absolute;
  top: 108px;
  left: 499px;
  background: #6c5ce7;
  padding: 8px 12px;
  color: #fff;
  font-size: 115%;
  border: 1px solid #fff;
} */

#submit {
  color: #fff;
  height: 44px;
  border-radius: 5px;
  font-size: 80%;
  padding: 7px 8px 5px 8px;
  background: #6c5ce7;
  border: none;
  float: left;
}
.img-box {
  position: relative;
}
#header-img {
  position: absolute;
  left: 720px;
  top: -290px;
  width: 40%;
}

/* -----------------
----SECTION MENU----
-------------------- */
#menu {
  background: #fff;
}

#menu .layout-text {
  max-width: 100%;
  font-size: 90%;
  padding: 0 10px;
  line-height: 145%;
  margin-top: 15px;
}

.box a {
  font-size: 80%;
  text-decoration: none;
  padding: 0 10px;
  color: #00cec9;
}

.box h3 {
  padding: 0 10px;
}
#menu .box img {
  width: 100%;
  height: 260px;
}
/* .box img {
  width: 350px;
  height: 150px;
} */
/* -----------------
----SECTION DELIVERY----
-------------------- */
#delivery {
  background: #fab1a0;
}
#delivery .box img {
  width: 100%;
  height: 240px;
}
#delivery .layout-text {
  max-width: 100%;
  font-size: 90%;
  padding: 0 10px;
  line-height: 145%;
  margin-top: 15px;
}
/* -----------------
----SECTION OPTIONS----
-------------------- */
#options {
  background: #fff;
}

#options h2 {
  margin-bottom: 20px;
}

.box-color {
  margin: 0 10px 10px 0;
  display: inline-block;
  font-size: 120%;
  background: #dfe6e9;
  padding: 5px;
  font-weight: bold;
}
/* -----------------
----BUSINESS----
-------------------- */
#business {
  background: #dfe6e9;
}

.business-box {
  background: #fff;
  padding: 18px;
  height: 215px;
}

.business-box h3,
.business-box p {
  margin-bottom: 18px;
}

.business-box p {
  font-size: 70%;
}

.btn {
  background: #00cec9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 90%;
}

.business img {
  width: 560px;
  height: 215px;
}

#video {
  width: 100%;
  height: 215px;
}
/* -----------------
----WORKING----
-------------------- */
#working {
  background: #fff;
}

.card {
  border: 1px solid #000;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content p,
.card-content h3,
.card-content button {
  margin-bottom: 10px;
}

.card-content p {
  line-height: 145%;
  font-size: 80%;
}

.card img {
  clip-path: polygon(100% 0, 100% 38%, 100% 90%, 0 100%, 0 0);
}
/* -----------------
----FOOTER----
-------------------- */
footer {
  background: #2d3436;
}

/* -----------------
----MEDIA QUERY----
-------------------- */

@media screen and (max-width: 920px) {
  a {
    font-size: 150%;
  }

  nav {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: blue;
  }

  a {
    color: #fff;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}
