/* --------------------------
--------BASIC SETUP----------
----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto Slab', serif;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

/* --------------------------
--------NAV----------
----------------------------- */
#nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999999;
}
.logo-box {
  margin-top: 8px;
  float: left;
}

.logo-text {
  color: #fff;
  font-weight: 100;
  margin-left: 50px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.main-nav li {
  float: right;
  /* display: inline-block; */
  margin-right: 40px;
  margin-top: 15px;
  list-style: none;
}

ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-weight: 300;
  transition: all 0.2s;
  font-size: 90%;
  font-weight: 100;
}

ul li a:hover {
  color: #6c5ce7;
  border-bottom: 1px solid #6c5ce7;
}

.sticky {
  background: #fff;
  color: #000;
  font-size: 80%;
  padding-bottom: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100%;
}

.sticky .nav-link {
  color: #000;
  margin-right: 50px;
}

.sticky .logo-text {
  color: #000;
  font-size: 90%;
  margin-left: 50px;
}

/* MOBILE NAV */
.mobile-nav-icon {
  float: right;
  margin-top: 8px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* #nav-bar {
  display: flex;
  justify-content: flex-end;
}

#nav-bar a {
  font-size: 120%;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 1px;
  margin-right: 30px;
  margin-top: 15px;
  color: #fff;
}

#nav-bar a i {
  margin-right: 10px;
}

#nav-bar a {
  transition: all 0.3s ease-in-out;
}

#nav-bar a:hover {
  color: #6c5ce7;
  border-bottom: 1px solid #6c5ce7;
}

.logo-text {
  float: left;
  margin-top: 20px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
} */
/* --------------------------
-------------HEADER----------
----------------------------- */
header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/sushi-platter-2.jpg);
  background-size: cover;
  background-position: center; */
  background: #00cec9;
  height: 70vh;
}

h1 {
  color: #fff;
  font-size: 180%;
  font-weight: 300;
  letter-spacing: 3px;
  word-spacing: 1px;
}

/*
#header ul {
  float: right;
}

#header ul li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 50px;
} */

.hero-text {
  position: relative;
  margin-top: 15%;
}

#email {
  border-radius: 5px;
  height: 45px;
  width: 500px;
  outline: none;
  border: 2px solid #aaa;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  padding: 5px;
  float: left;
}

/* .hero-text i {
  position: absolute;
  top: 108px;
  left: 499px;
  background: #6c5ce7;
  padding: 8px 12px;
  color: #fff;
  font-size: 115%;
  border: 1px solid #fff;
} */

#submit {
  color: #fff;
  height: 44px;
  border-radius: 5px;
  font-size: 80%;
  padding: 7px 8px 5px 8px;
  background: #6c5ce7;
  border: none;
  float: left;
  transition: all 0.2s;
}

#submit:hover {
  background: #513ee3;
}
.img-box {
  /* position: relative; */
  float: right;
  margin-top: -130px;
  color: #fff;
  font-weight: 100;
}

.img-box h2 {
  font-weight: 300;
}

.img-box h2,
.img-box p,
.img-box img {
  margin-bottom: 20px;
}
#header-img {
  position: absolute;
  left: 880px;
  top: 140px;
  width: 15%;
}

#header-text {
  position: absolute;
  left: 1080px;
  top: 150px;
  width: 10%;
  font-size: 80%;
  font-weight: 100;
}

/* -----------------
----SECTION MENU----
-------------------- */
#menu {
  background: #fff;
}

#menu .layout-text {
  max-width: 100%;
  font-size: 90%;
  padding: 0 10px;
  line-height: 145%;
  margin-top: 15px;
}

.box a {
  font-size: 80%;
  text-decoration: none;
  padding: 0 10px;
  color: #00cec9;
  transition: all 0.2s;
}

.box a:hover {
  color: #00aca8;
}

.box h3 {
  padding: 0 10px;
}
#menu .box img {
  width: 100%;
  height: auto;
}
/* .box img {
  width: 350px;
  height: 150px;
} */
/* -----------------
----SECTION DELIVERY----
-------------------- */
#delivery {
  background: #fab1a0;
}
#delivery .box img {
  width: 100%;
  height: auto;
}
#delivery .layout-text {
  max-width: 100%;
  font-size: 90%;
  padding: 0 10px;
  line-height: 145%;
  margin-top: 15px;
}
/* -----------------
----SECTION OPTIONS----
-------------------- */
#options {
  background: #fff;
}

#options h2 {
  margin-bottom: 20px;
}

.box-color {
  margin: 0 10px 10px 0;
  display: inline-block;
  font-size: 120%;
  background: #dfe6e9;
  padding: 5px;
  font-weight: bold;
}
/* -----------------
----BUSINESS----
-------------------- */
#business {
  background: #dfe6e9;
}

.business-box {
  background: #fff;
  padding: 18px;
  height: 250px;
}

.business-box h3,
.business-box p {
  margin-bottom: 18px;
}

.business-box p {
  font-size: 70%;
}

.btn {
  background: #00cec9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 90%;
  transition: all 0.2s;
}

.btn:hover {
  background: #00aca8;
}

/* .business img {
  width: 100%;
  height: 215px;
} */

#video,
#secondary-video {
  width: 100%;
  height: 250px;
}

/* -----------------
----WORKING----
-------------------- */
#working {
  background: #fff;
}

.card {
  border: 1px solid #636e72;
  /* box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75); */
}

.card img {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content p,
.card-content h3,
.card-content button {
  margin-bottom: 10px;
}

.card-content p {
  line-height: 145%;
  font-size: 80%;
}

.card img {
  clip-path: polygon(100% 0, 100% 38%, 100% 90%, 0 100%, 0 0);
}
/* -----------------
----FOOTER----
-------------------- */
footer {
  background: #2d3436;
}

.icons-grid {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
  flex-wrap: wrap;
}

.ion-logo-github,
.ion-logo-codepen,
.ion-logo-instagram,
.ion-logo-facebook {
  color: #fff;
  font-size: 150%;
  transition: all 0.2s;
}

.ion-logo-github:hover {
  color: #c9510c;
}

.ion-logo-instagram:hover {
  color: #8a3ab9;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}

.ion-logo-codepen:hover {
  color: #0ebeff;
}

.ion-md-heart {
  color: #d63031;
  font-size: 110%;
}

#footer-text {
  color: #fff;
  font-size: 90%;
}
/* #footer-text {
  display: flex;
  justify-content: flex-end;
} */

/* -----------------
----ANIMATIONS----
-------------------- */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated {
  opacity: 1;
}
